*/target/*
.svn*
.idea
obj/
bin/
*.suo
*.user
Log/
log/
*.db
*.log*
*./*.log*
*.releaseBackup
.sass-cache
release.properties
*.settings/*
*.prefs
*/.classpath
*/.clover
*/.clover/*
*/buildNumber.properties
buildNumber.properties
*/.project
**/node_modules/**
.project
.classpath
*/.buildpath/*
*~
target/
enme-war/src/main/webapp/resource/static/
*/.settings
*DEADJOE*
.metadata
.DS_Store